// Fonts
@font-face {
  font-family: DINPro;
  src: url("/assets/fonts/DINPro.otf") format("opentype");
}

@font-face {
  font-family: DINPro-Bold;
  src: url("/assets/fonts/DINPro-Bold.otf") format("opentype");
}

// Size definitions
$screen-md-min: 992px;
$screen-sm-min: 768px;
$screen-xs-min: 480px;
$topnav-height: 60px;

// Colors
$landingpage-color: white;
$darkblue-color: #1d4c91;
$blue-color: #0065b4;
$blue-transparent: rgba(10, 76, 151, 0.9);
$lightblue-transparent: rgba(75, 160, 180, 0.9);
$blue-transparent-text: #0092c8;
$green-color: #206020;
$lightgreen-color: #55ad55;
$yellow-color: rgba(255,240,45,0.9);
$lightgray-color: rgba(200, 200, 200, 0.25);

// Landing-page CSS
#landing-page {
  background-color: $landingpage-color;
  font-family: 'DINPro', 'Ubuntu', 'Open Sans', sans-serif;

  .navbar {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  position: fixed;
	  top: 0;
	  width: 100%;
	  height: $topnav-height;
	  line-height: 60px;
	  background-color: $landingpage-color;
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.5);
	  z-index: 30;
	  border-radius: 0;

	  .navbar-brand {
		  margin: 0;
		  padding: 0;
		  img {
			  width: 90px;
			  height: 95%;
		  }
	  }
  }
  .navbar-nav {
	  display: flex;

	  .navbar-item {
		  display: inline-block;
		  padding: 0 0.5em;
		  &:hover, &.active {
			  background-color: $darkblue-color;
			  border-bottom: 2px solid #db0;
			  & a {
				  color: white;
			  }
		  }
	  }
	  a {
		  line-height: 60px;
		  text-decoration: none;
	  }

  }

  .whats-icon {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: white;
	  background-color: #64c447;
	  font-size: 1.8em;
	  border-radius: 50%;
	  width: 1.5em;
	  height: 1.5em;
	  text-decoration: none;
  }
  .visit-icon {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin: 0 1em;
	  padding: 0.5em;
	  color: white;
	  background-color: $blue-transparent;
	  font-size: 1.5em;
	  border-radius: 5px;
	  height: 2em;

	  &:hover {
		  cursor: pointer;
	  }
  }

  .main-carousel {
	  width: 100%;
	  margin-top: $topnav-height;
	  color: white;
	  
	  .main-carousel-images {
		img {
			width: 100%;
			height: 450px;
			object-fit: cover;
			box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
		  }
	}	
	  .site-link {
		  display: flex;
		  align-items: center;
		  width: 14%;
		  height: 100%;
		  position: absolute;
		  z-index: 10;
		  cursor: pointer;
		  a {
			  width: 100%;
			  img {
				  width: 100%;
			  }
		  }
	  }
	  .floating-itens {
		  display: flex;
		  justify-content: space-between;
		  position: absolute;
		  width: 100%;
		  height: 100%;
		  padding: 5em;
		  .advises {
			  display: flex;
			  flex-direction: column;
			  justify-content: center;
			  align-items: flex-start;
			  color: $blue-transparent-text;
			  z-index: 2;

			  .advise {
				  margin: 0.1em;
				  padding: 0.1em 1em 0.8em;
				  background-color: $yellow-color;
				  font-size: 1em;
				  border-radius: 2px;
				  &:first-child {
					  font-size: 1.25em;
				  }
				  .plus {
					  align-items: flex-end;
					  padding: 0.4em;
					  font-size: 1.4em;
					  font-weight: bold;
				  }
				  p {
					  margin: 0;
					  font-family: 'DINPro-Bold';
					  font-size: 2.2em;
					  span {
						  font-size: 0.5em;
						  vertical-align: top;
						  padding-top: 0.2em;
					  }
				  }
			  }
			  .icons {
				  justify-content: space-evenly;
				  align-items: center;
				  width: 260px;
				  height: 65px;
				  margin-top: 0.1em;
				  background-color: rgba(255,255,255,0.85);
				  border-radius: 4px;
				  img {
					  &:first-child {
						  height: 80%;
					  }
					  &:last-child {
						  height: 45%;
					  }
				  }
			  }
		  }
		  .visit-form {
			  display: flex;
			  align-items: center;
			  -webkit-transition: width 2s, height 2s, transform 2s;
			  -moz-transition: width 2s, height 2s, transform 2s;
			  -o-transition: width 2s, height 2s, transform 2s;
			  transition: width 2s, height 2s, transform 2s;
			  z-index: 20;
		  }

		  #visit-form {
			  position: absolute;
			  width: 300px;
		  	  visibility: visible;
			  opacity: 1;
			
			&.hide-form{
				visibility: hidden;
				opacity: 0;
			  }
			}

		  #date-form {
			  position: absolute;
			  width: 300px;
			  visibility: hidden;
			  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
		
			  &.show-form{
				visibility: visible;
				-webkit-transform: translateX(0%);
				transform: translateX(0%);
			  }
			}

		  #visit-form, #date-form {
			-webkit-transition: all 1s ease;  
			-moz-transition: all 1s ease;  
			-o-transition: all 1s ease;  
			-ms-transition: all 1s ease;  
			transition: all 1s ease;
			
		  }

	  }
  }

  .form {
	  width: 100%;
	  padding: 1em;
	  background-color: $blue-transparent;
	  border-radius: 8px;
	  h4 {
		  margin: 0 0 10px 0;
		  font-weight: bold;
		  text-align: center;
	  }
	  .form-group {
		  margin-bottom: 15px;
	  }
	  button {
		  width: 100%;
		  background-color: $lightgreen-color;
		  border-radius: 1px;
	  }
  }

  // Balão de Faça uma Simulação p/ Mobile
  .form-toggle {
	  position: fixed;
	  width: 100%;
	  bottom: 0;
	  color: black;
	  background-color: rgba(0, 0, 0, 0.25);
	  font-size: 1.3em;
	  font-weight: bold;
	  z-index: 30;

	  p {
		  margin: 0.5em 15%;
		  padding: 0.8em;
		  background-color: rgba(225,200,15,0.9);
		  border-radius: 5px;
		  text-align: center;
		  //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.5);
		  cursor: pointer;
	  }
  }

  // Galeria
  #galeria {
	  width: 100%;
	  display: flex;
	  overflow: auto;

	  img {
		  width: 220px;
		  height: 130px;
	  }

	  &::-webkit-scrollbar {
		  width: 0.5em;
		  height: 0.6em;
	  }

	  &::-webkit-scrollbar-thumb {
		  background-color: rgba(0,0,0,.3);
		  border-radius: 3px;

		  &:hover {
			  background: rgba(0,0,0,.5);
		  }
	  }
  }

  .image {
	  border: 2px solid white;
	  border-top: 3px solid white;
  }

  // Lightbox
  .modal {
	  .modal-body {
		  display: flex;
		  justify-content: center;
		  img {
			  max-width: 100%;
		  }
	  }
	  button {
		  background-color: $blue-color;
	  }
  }

  .container {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  width: 70%;
	  padding: 3em 1em;
	  background-color: $landingpage-color;

	  h4 {
		  color: #444;
		  font-size: 1em;
		  font-weight: 600;
	  }

	  h2 {
		  margin: 0;
		  margin-bottom: 0.8em;
		  color: hsl(187, 38%, 50%);
		  text-indent: 0.5em;
		  letter-spacing: 0.2em;
		  &::before{
			  content: '\2022';
			  color: #f8e21e;
			  font-size: 20px;
			  margin-right: 10px;
		  }
	  }
  }

  #plantas {
	  padding: 4em 7.5%;

	  h2 {
		  margin: 0;
		  margin-bottom: 0.8em;
		  color: #51a5b0;
		  text-indent: 0.5em;
		  letter-spacing: 0.1em;
	  }
  }

  .plantas {
	  justify-content: space-around;

	  .plant {
		  justify-content: space-evenly;
		  &.left {
			  align-items: flex-end;
			  padding-right: 1em;
			  .plant-info {
				  -webkit-transform: translate(calc(70px), -75%);
				  transform: translate(calc(70px), -75%);
			  }
		  }
		  &.right {
			  align-items: flex-start;
			  padding-left: 1em;
			  .plant-info {
				  -webkit-transform: translate(calc(-80px), 75%);
				  transform: translate(calc(-80px), 75%);
			  }
		  }
		  .plant-info {
			  position: absolute;
			  padding: 0.8em 1.2em;
			  background-color: $lightblue-transparent;
			  font-weight: bold;
			  h3 {
				  color: $yellow-color;
				  font-weight: bold;
				  text-align: center;
				  letter-spacing: 1px;
				  span {
					  color: white;
				  }
			  }
			  p {
				  margin: 0;
				  &::before{
					  content: '\2713';
					  color: $yellow-color;
					  font-size: 16px;
					  margin-right: 5px;

				  }
			  }
		  }
		  img {
			width: auto;
			height: 400px;
		  }
	  }
  }

  // Ficha Técnica
  #simulacao {
	  background-color: rgba(200,200,200,0.18);
  }
.technical-container {
	  align-items: initial;
	  padding: 2em;
	  color: #222;
	  background-color: rgba(0,0,0,0);

	  h2 {
		  font-size: 1.8em;
	  }
	  h3 {
		  color: #777;
	  }
	  p {
		  span {
	  color: #51a5b0;
	  font-weight: 600;
	}
  }
  .technical-content {
	justify-content: space-between;
  }
	  .technical-data {
		  flex: 1;
		  .data {
			  h4 {
				  margin-bottom: 5px;
				  color: $green-color;
			  }
		  }
		  .data-itens {
			  display: flex;
			  flex-direction: row;
			  flex-wrap: wrap;
			  border-top: 1px solid $lightblue-transparent;
			  h3 {
				  color: $lightblue-transparent;
			  }
			  .itens {
				  width: 100%;
				  margin: 1em 0;
				  font-size: 1.25em;
			  }
			  p {
				  width: 50%;
				  margin: 0;
				  &::before{
					  content: '\2713';
					  color: $blue-color;
					  font-size: 20px;
					  margin-right: 5px;
				  }
			  }
		  }
	  }
	  .technical-img {
		  flex: 1;
		  img {
			  width: 120%;
			  padding: 0 1em;
		  }
	  }
}

  // Tópicos
  .topics {
	  display: flex;
	  justify-content: space-between;

	  .topic {
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		  flex: 1;
		  padding: 1em;
		  text-align: center;

		  div {
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  width: 60px;
			  height: 60px;
			  background-color: #0065b4;
			  border-radius: 50%;
			  img {
				  width: 60%;
				  height: 60%;
			  }
		  }
		  h4 {
			  color: $blue-color;
		  }
	  }
  }
   // Formulário Final
  #formulario-final {
	  background-color: $blue-transparent-text;
	  h3 {
		  margin: 0 auto 1em;
		  color: white;
	  }

	  .container {
		  background-color: transparent;
	  }

	  .final-form {
		  background-color: white;
		  padding: 2em 1em 1em;
		  border-radius: 10px;

		  input {
			  border: 1px solid $blue-transparent-text;
			  &:focus { border: 1px solid blue; }
		  }

		  .form-btn {
			  display: flex;
			  justify-content: center;

			  button {
				  background-color: $blue-transparent-text;
				  border: 0;
			  }
		  }

		  .date-picker, .time-picker {
			  border: 1px solid $blue-transparent-text;

			  .date-elem, .time-elem {
				background-color: $blue-transparent-text;
				opacity: 0.6;
			}

			  .datepicker-input {
				  &:checked + label {
					opacity: 1;
				  }
			  }

		  }

		  .radio-inline {
			  margin: 0 0.5em 0 1em;
		  }
	  }
  }


  // Promoções e Vendas
  .promotion-container {
	  padding: 1em 0;

	  h3 {
		  font-size: 2em;
		  letter-spacing: 2px;
		  text-align: center;
		  color: #51a5b0;
	  }

	  .promotion-images {
		  display: flex;
		  justify-content: center;
		  margin: 1.5em;

		  a {
			  display: flex;
			  justify-content: center;
		  }

		  img {
			  width: 150px;
	  height: 100%;
	  margin: 0 3em;
		  }
	  }
	  .small-text {
		  font-size: 0.8em;
		  text-align: justify;
		  line-height: 150%;
	  }
  }

  .subtitle{
	  font-size: 20px;
	  line-height: 1.67;
	  letter-spacing: normal !important;
	  text-indent : 0 !important;
	  text-align: left;
	  color: #727272 !important;
	  margin-bottom: 0 !important;
  }

  footer {
	  display: flex;
	  justify-content: space-evenly;
	  flex-wrap: wrap;
	  color: white;
	  background-color: #111;
	  font-size: 1.3em;
	  text-align: center;
	  p {
		  margin: 0;
		  padding: 0 1em;
		  line-height: 100px;
	  }
	  div:last-child {
		  display: flex;
		  img {
			  margin: auto 0;
			  width: 130px;
			  height: 90%;
		  }
	  }
  }

  .map{
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  .container{
		  display: block !important;
	  }

  }

  #topics{
	  background: url('/assets/images/img-bg-icones.jpg') center center no-repeat;
	  background-size: cover;
	  color: #fff !important;
	  h4{
		  color: #fff !important;
	  }
	  .container{
		  background-color: transparent !important;
	  }
	  .topic-item{
		  width: 100px !important;
		  height: 100px !important;
		  background-color: #ffffff !important;
		  img{
			  width: 80%;
			  height: 80%;
			  padding: 10px;
		  }
	  }
  }


  // Datepicker e Timepicker

  .date-picker, .time-picker {
	  justify-content: space-around;
	  align-items: center;
	  text-align: center;
	  padding: 0.5em 0em;
	  background-color: white;
	  border-radius: 5px;
	  overflow: none;

	  p {
		  margin: 0;
	  }

	  .date-picker-arrow, .time-picker-arrow {
		  padding: 1em 0.2em;
		  color: $darkblue-color;
		  cursor: pointer;
	  }

	  .date-elem {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  color: white;
		  background-color: $darkblue-color;
		  width: 60px!important;
		  height: 60px;
		  margin: 0 0.1em;
		  border-radius: 50%;
		  z-index: 10;
		  cursor: pointer;
	  }

	  .time-elem {
		  color: white;
		  background-color: $darkblue-color;
		  margin: 0 0.2em;
		  padding: 0.5em 1em;
		  border-radius: 20px;
		  cursor: pointer;
	  }

	  .datepicker-input {
		  display: none;
		
		&:checked + label{
			background-color: #4575eb;
		}
	}
	  
  }

  @media (max-width: $screen-md-min) {
	  .table-container {
		  width: 90%;
	  }
	  .topics {
		  flex-direction: column;
	  }
  }

  @media (max-width: $screen-sm-min) {

	  .container {
		  width: 90%;
		  h3 {
			  text-align: center;
		  }
	  }

	  .technical-content {
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;
		  p, h4 {
			  width: 100%;
		  }
		  .technical-img {
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  padding: 2em 0;
			  img {
				  width: 90%;
			  }
		  }
	  }
	  .main-carousel {
		  .site-link {
			  display: none;
		  }

		  .floating-itens {
			  justify-content: space-around;
			  padding: 0;
		  }

		  .floating-itens .visit-form {
			  //display: none;
			  #visit-form, #date-form {
				  //margin-top: 70px;
			  }
			  h4 {
				  font-size: 0.8em;
			  }
		  }

	  }

	  .visit-icon {
		  display: none;
		  span {
			  padding: 0;
			  font-size: 0.5em;
		  }
	  }

	  .plantas {
		  flex-direction: column;

		  .plant {
			  align-items: center!important;
			  &.left {
				  align-items: flex-end;
				  padding-right: 1em;
				  .plant-info {
					  -webkit-transform: translateX(-130%);
					  transform: translateX(-130%);
				  }
			  }
			  &.right {
				  align-items: flex-start;
				  padding-left: 1em;
				  .plant-info {
					  -webkit-transform: translateX(130%);
					  transform: translateX(130%);
				  }
			  }
			  img {
				  width: 400px;
				  margin-top: 1em;
			  }
		  }
	  }

	  .promotion-container {
		  .promotion-images {
			  margin: 1.5em 0;
		  }
	  }

	  .close-btn {
		  display: block;
	  }

	  .form-toggle {
		  p {
			  padding: 0.8em 0.4em;
		  }
	  }

	  h2 {
		  text-align: center;
		  letter-spacing: 2px!important;
		  &::before {
			  content: ''!important;
			  margin: 0!important;
		  }
	  }
	  .title-map, .subtitle{
		  text-align: center !important;
	  }


  }

  #visit-form {
	  -webkit-transition: width 2s, height 2s, transform 2s;
	  -moz-transition: width 2s, height 2s, transform 2s;
	  -o-transition: width 2s, height 2s, transform 2s;
	  transition: width 2s, height 2s, transform 2s;
  }
}

.nav-icons {
	align-items: center;
}

@media (max-width: $screen-xs-min) {
  #landing-page {
	  .navbar {
		  position: relative;
		  margin: 0;
	  }

	  .main-carousel {
		  margin: 0;

		  .floating-itens .advises {
			  justify-content: flex-start;
			  align-items: center;
			  width: 90%;
			  margin-top: 1em;
			  .advise {
				  padding: 0.2em 0.5em 0.5em;
				  font-size: 1.1em;
				  text-align: center;
				  &:first-child {
					  font-size: 1.4em;
				  }
				  .plus {
					  margin: 0 auto;
					  padding: 0.5em 0.2em 0;
					  align-items: center;
					  font-size: 1.2em;
				  }
				  p {
					  margin: 0;
					  padding-top: 0.1em;
					  font-size: 1.8em;
					  span {
						  font-size: 0.5em;
						  vertical-align: top;
						  padding-top: 0.2em;
					  }
				  }
			  }
		  }
	  }

	  h2 {
		  text-indent: 0!important;
	  }

	  #plantas {
		  padding: 2em 3em 0;
	  }

	  .plantas .plant {
		  padding: 0!important;
		  .plant-info {
			  position: relative;
			  -webkit-transform: translate(0)!important;
			  -moz-transform: translate(0)!important;
			  -o-transform: translate(0)!important;
			  transform: translate(0)!important;
			  border-radius: 5px;
			  h3 {
				  margin: 0.4em;
			  }
			  .plant-itens {
				  display: flex;
				  flex-wrap: wrap;

				  p {
					  width: 50%;
					  font-weight: bold;
				  }
			  }
		  }
		  img {
			  padding: 0.5em 0 2em;
			  width: 100%;
			  height: auto;
		  }
	  }
	  .promotion-container {
		  .promotions {
			  flex-direction: column;
		  }
		  .promotion-images {
			  flex-direction: column;
			  padding: 0 1em;
			  img {
				  width: 45%;
				  margin: 0 auto 1em;
			  }
		  }
	  }

	  .date-picker, .time-picker {
		  .time-elem {
			  padding: 0.4em 0.8em;
		  }
	  }
  }

  .visit-form {
	display: none!important;
	width: 80%;
	margin-top: -50px!important;
	z-index: 30!important;
	 
	 #visit-form, #date-form {
		 width: 80%;
		 left: 0;
		 right: 0;
		 margin-left: auto;
		 margin-right: auto;
		 margin-top: 0;
	 }
	 h4 {
		 font-size: 0.8em;
	 }
 }

  .technical-content {
	  p, h4 {
		  width: 100%!important;
	  }
	  .technical-img {
		  img {
			  width: 120%!important;
		  }
	  }
  }

  .datetime-picker {
	  .time-elem {
		  padding: 0.5em;
	  }
  }

  #galeria {
	  &::-webkit-scrollbar {
		  display: none;
	  }
  }

  footer {
	  font-size: 0.9em!important;
  }

	.show-floating-form {
		display: block!important;
		position: fixed;
		right: 0;
		left: 0;
		margin: auto;
	}
	.nav-icons {
		display: none!important;
		align-items: center;
	}
	
}

.close-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  background-color: #00256b;
  width: 2.5em;
  height: 2.5em;
  border-radius: 0 30% 0 0;
  line-height: 2.5em;
  text-align: center;
  cursor: pointer;
}

.flex-row {
display: flex;
flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.no-scroll {
  overflow: hidden;
}

// Fancybox container fix
.fancybox-content {
	width: 80%;
	padding: 3%;
	img {
		width: 100%;
		max-height: 500px;
	}
}

.no-select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.show-floating-form {
	display: block;
	position: fixed;
	right: 2%;

	#visit-form, #date-form {
		position: fixed;
		top: 0;
		right: 0;
	}
}

a.carousel-control span {
	display: none!important;
}