<title ng-bind="ngMeta.title"></title>

<div scroll id="landing-page" class="no-scroll">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#home">
      <img src="{{madisonData.logo}}" alt="logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="navbar-item active">
          <a class="nav-item nav-link active" href="#home">Home</a>
        </div>
        <div class="navbar-item">
          <a class="nav-item nav-link" href="#plantas">Plantas</a>
        </div>
        <div class="navbar-item">
          <a class="nav-item nav-link" href="#simulacao">Ficha Técnica</a>
        </div>
        <div class="navbar-item">
          <a class="nav-item nav-link" href="#localizacao">Localização</a>
        </div>
      </div>
    </div>
    <div class="nav-icons flex-row">
      <div class="visit-icon" ng-show="showVisitIcon" ng-click="showFloatingForm = !showFloatingForm">
        <span>Faça uma simulação</span>
      </div>
      <!-- <a class="whats-icon" href="https://api.whatsapp.com/send?phone=+5511999293012" target="_blank">
        <i class="fab fa-whatsapp"></i>
      </a> -->
    </div>
  </nav>

  <section id="home" class="main-carousel carousel slide" data-ride="carousel">

    <!-- <div class="site-link">
        <a href="#">
          <img src="assets/images/tag-california.png">
        </a>
      </div> -->
    <div class=floating-itens>
      <div class="advises">
        <div class="advise">
          Entradas de apenas
          <p><span>R$</span>{{madisonData.values.entrada}}<span>*</span></p>
        </div>
        <div class="advise flex-row">
          <div>
            Parcelas a partir de
            <p><span>R$</span>{{madisonData.values.parcela}}<span>*</span></p>
          </div>
          <div class="plus flex-row">+</div>
          <div class="flex-column">
            Subsídios de até
            <p><span>R$</span>{{madisonData.values.subsidio}}<span>*</span></p>
          </div>
        </div>
        <div class="flex-row icons">
          <img src="assets/images/logo-minha-casa-minha-vida.svg" alt="logo">
          <img src="assets/images/logo-fgts.svg" alt="logo">
        </div>
      </div>
      <div class="visit-form col-xs-5 col-sm-4" ng-class="{'show-floating-form': showFloatingForm}">
        <form ng-submit="submitVisitForm()" id="visit-form" class="form" ng-class="{'hide-form':!showVisitForm}">
          <div class="close-btn" ng-click="closeForm()">X</div>
          <h4>FAÇA SUA SIMULAÇÃO</h4>
          <div class="form-group">
            <label for="name">Seu nome</label>
            <input ng-model="formData.card_nome" type="text" class="form-control" id="name" name="name"
              aria-describedby="emailHelp" placeholder="José Carlos da Silva" required oninvalid="this.setCustomValidity('Preencha o seu nome!')"
              oninput="this.setCustomValidity('')">
          </div>
          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input ng-model="formData.card_telefone" type="tel" class="form-control" id="phone" name="phone"
              placeholder="(41) 91234-5678" data-mask="(99) 99999-9999" required oninvalid="this.setCustomValidity('Preencha o seu telefone!')"
              oninput="this.setCustomValidity('')">
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input ng-model="formData.card_email" type="email" class="form-control" id="email" name="email" placeholder="comprador@uol.com.br"
              required oninvalid="this.setCustomValidity('Preencha o seu e-mail!')" oninput="this.setCustomValidity('')">
          </div>
          <button class="btn btn-success">AGENDAR!</button>
        </form>

        <form ng-submit="submitDateForm()" id="date-form" class="form" ng-class="{'show-form':showDateForm}">
          <div class="close-btn" ng-click="closeForm()">X</div>
          <h4>Qual o melhor horário para você?</h4>
          <div class="form-group">
            <label for="name">Data</label>
            <div class="date-picker flex-row">
              <a><i ng-click="datesPage = datesPage - 1" class="date-picker-arrow fas fa-chevron-left"></i></a>
              <div ng-repeat="date in tempDates | limitTo: 3">
                <input ng-model="formData.card_visita_data" type="radio" name="date" id="1-{{date.day}}" class="datepicker-input"
                  value="{{date.date}}" ng-checked="$first">
                <label for="1-{{date.day}}" class="date-elem noSwipe no-select">
                  {{date.dayOfWeek}} <br>{{date.day}}/{{date.month}}
                </label>
              </div>
              <a><i ng-click="datesPage = datesPage + 1" class="date-picker-arrow fas fa-chevron-right"></i></a>
            </div>
          </div>
          <div class="form-group">
            <label for="telefone">Horário</label>
            <div class="time-picker flex-row">
              <a><i ng-click="timesPage = timesPage -1" class="time-picker-arrow fas fa-chevron-left"></i></a>
              <div ng-repeat="time in tempTimes | limitTo: 3">
                <input ng-model="formData.card_visita_hora" type="radio" name="time" id="1-{{time.time}}" class="datepicker-input"
                  value="{{time.time}}" ng-checked="$first">
                <label for=1-{{time.time}} class="time-elem noSwipe no-select">
                  {{time.time}}
                </label>
              </div>
              <a><i ng-click="timesPage = timesPage + 1" class="time-picker-arrow fas fa-chevron-right"></i></a>
            </div>
          </div>
          <div class="form-group">
            <div class="radio">
              <label><input ng-model="formData.card_plantao" type="radio" name="plantao" value="Plantão Norte" checked>Plantão
                Norte</label>
            </div>
            <div class="radio">
              <label><input ng-model="formData.card_plantao" type="radio" name="plantao" value="Plantão Campo Largo">Plantão
                Campo Largo</label>
            </div>
            <div class="radio">
              <label><input ng-model="formData.card_plantao" type="radio" name="plantao" value="Plantão Araucária">Plantão
                Araucária</label>
            </div>
            <div class="radio">
              <label><input ng-model="formData.card_plantao" type="radio" name="plantao" value="Plantão Sul">Plantão
                Sul</label>
            </div>
          </div>
          <button type="submit" class="btn btn-success">AGENDAR!</button>
        </form>
      </div>
    </div>
    <div uib-carousel class="main-carousel-images" active="active" interval="mainCarouselInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in madisonData.mainCarousel track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </section>

  <div ng-show="showVisitIcon" class="form-toggle visible-xs" ng-click="showMobileForm()">
    <p>
      FAÇA UMA SIMULAÇÃO
    </p>
  </div>

  <!-- <div ng-click="testGo()">TestGo</div> -->
  <section id="galeria" class="side-images">
    <div ng-repeat="image in madisonData.gallery" class="image">
      <a fancybox class="fancybox" rel="gallery" ng-click="open_fancybox()">
        <img style="cursor: pointer" src="{{image.image}}">
      </a>
    </div>
  </section>

  <div class="modal fade modal-profile" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">×</button>
          <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <section id="plantas">
    <h2>PLANTAS</h2>
    <div class="plantas flex-row">
      <div class="plant left flex-column">
        <div class="plant-info flex-column">
          <h3> {{madisonData.plants[0].size}} <span>m²</span></h3>
          <div class="plant-itens">
            <p ng-repeat="feature in madisonData.plants[0].features">{{feature}}</p>
          </div>
        </div>
        <img src="{{madisonData.plants[0].image}}" alt="">
      </div>
      <div class="plant right flex-column">
        <div class="plant-info flex-column">
          <h3> {{madisonData.plants[1].size}} <span>m²</span></h3>
          <div class="plant-itens">
            <p ng-repeat="feature in madisonData.plants[1].features">{{feature}}</p>
          </div>
        </div>
        <img style="max-width: 360px;" src="{{madisonData.plants[1].image}}" alt="">
      </div>
    </div>
  </section>

  <section id="simulacao">
    <div class="container technical-container">
      <h3 class="subtitle">Qualidade em primeiro lugar</h3>
      <h2>FICHA TÉCNICA</h2>
      <div class="technical-content flex-row">
        <div class="technical-data flex-column">
          <div class="data">
            <h4>ENDEREÇO </h4>
            <p>{{madisonData.address}}</p>
            <h4>INCORPORADORA E CONSTRUTORA - PROJETO ARQUITETÔNICO</h4>
            <p>{{madisonData.builder}}</p>
            <h4>ÁREA DO TERRENO</h4>
            <p>{{madisonData.area}}</p>
            <h4>ÁREA CONSTRUÍDA</h4>
            <p>{{madisonData.area_building}}</p>
          </div>
          <div class="data-itens">
            <h3 class="itens">ITENS DE LAZER</h3>
            <p ng-repeat="recreation in madisonData.recreations">{{recreation}}</p>
          </div>
        </div>
        <div class="technical-img">
          <img src="{{madisonData.technical_image}}">
        </div>
      </div>
    </div>
  </section>

  <section id="topics">
    <div class="container">
      <div class="topics">
        <div class="topic">
          <div class="topic-item">
            <img src="assets/images/icon-money.png" alt="">
          </div>
          <h4>Utilize seu FGTS como entrada</h4>
          <p>
            Aceitamos o seu fundo de garantia do tempo de serviço como entrada! Tudo para facilitar a conquista do seu
            sonho. </p>
        </div>
        <div class="topic">
          <div class="topic-item">
            <img src="assets/images/icon-grafico.png" alt="">
          </div>
          <h4>Utilize Subsídios para realizar o sonho da casa própria</h4>
          <p>
            Ganhe subsídios de até R$ 37.000* para comprar seu imóvel.
          </p>
        </div>
        <div class="topic">
          <div class="topic-item">
            <img src="assets/images/icon-check.png" alt="">
          </div>
          <h4>Seguro de Entrega Garantido</h4>
          <p>
            Fique tranquilo, você possui seguro de entrega garantido! </p>
        </div>
        <div class="topic">
          <div class="topic-item">
            <img src="assets/images/icon-house.png" alt="">
          </div>
          <h4>Imóveis participantes do programa Minha Casa, Minha Vida</h4>
          <p>
            Imóveis financiados pelo programa Minha Casa Minha Vida. Financiamento pela Caixa.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="localizacao" class="map">
    <div class="container">
      <h3 class="subtitle">Qualidade em primeiro lugar</h3>
      <h2 class="title-map">LOCALIZAÇÃO</h2>
    </div>
    <div id="map"></div>
  </section>

  <section id="formulario-final">
    <div class="container">
      <h3 class="title-map">AGENDE UMA VISITA</h3>
      <form ng-submit="submitFinalForm()" id="final-form" class="final-form col-xs-12 col-sm-10 col-md-8">
        <div class="form-group col-xs-12">
          <label for="name">Seu nome</label>
          <input ng-model="formData.card_nome" type="text" class="form-control" id="name" name="name" placeholder="José Carlos da Silva"
            required oninvalid="this.setCustomValidity('Preencha o seu nome!')" oninput="this.setCustomValidity('')">
        </div>
        <div class="form-group col-xs-12 col-sm-6">
          <label for="telefone">Telefone</label>
          <input ng-model="formData.card_telefone" type="tel" class="form-control" id="phone" name="phone" placeholder="(41) 1234-5678"
            data-mask="(99) 99999-9999" required oninvalid="this.setCustomValidity('Preencha o seu telefone!')" oninput="this.setCustomValidity('')">
        </div>
        <div class="form-group col-xs-12 col-sm-6">
          <label for="email">E-mail</label>
          <input ng-model="formData.card_email" type="email" class="form-control" id="email" name="email" placeholder="comprador@uol.com.br"
            required oninvalid="this.setCustomValidity('Preencha o seu e-mail!')" oninput="this.setCustomValidity('')">
        </div>
        <div class="form-group col-xs-12">
          <label for="name">Data</label>
          <div class="date-picker flex-row">
            <a><i ng-click="datesPage = datesPage - 1" class="date-picker-arrow fas fa-chevron-left"></i></a>
            <div ng-repeat="date in tempDates | limitTo: 3">
              <input ng-model="formData.card_visita_data" type="radio" name="date" id="2-{{date.day}}" class="datepicker-input"
                value='{{date.date}}' ng-checked="$first">
              <label for="2-{{date.day}}" class="date-elem noSwipe no-select">
                {{date.dayOfWeek}} <br>{{date.day}}/{{date.month}}
              </label>
            </div>
            <a><i ng-click="datesPage = datesPage + 1" class="date-picker-arrow fas fa-chevron-right"></i></a>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="telefone">Horário</label>
          <div class="time-picker flex-row">
            <a><i ng-click="timesPage = timesPage - 1" class="time-picker-arrow fas fa-chevron-left"></i></a>
            <div ng-repeat="time in tempTimes | limitTo: 3">
              <input ng-model="formData.card_visita_hora" type="radio" id="2-{{time.time}}" class="datepicker-input"
                value="{{time.time}}" ng-checked="$first">
              <label for="2-{{time.time}}" class="time-elem noSwipe no-select">
                {{time.time}}
              </label>
            </div>
            <a><i ng-click="timesPage = timesPage + 1" class="time-picker-arrow fas fa-chevron-right"></i></a>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <div class="radio-inline">
            <label>
              <input ng-model="formData.card_plantao" type="radio" name="plantao" value="Plantão Norte" ng-checked="true"
                checked>Plantão Norte
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input ng-model="formData.card_plantao" type="radio" name="plantao" value="Plantão Campo Largo">Plantão
              Campo Largo
            </label>
          </div>
          <div class="radio-inline">
            <label><input ng-model="formData.card_plantao" type="radio" name="plantao" value="Plantão Araucária">Plantão
              Araucária</label>
          </div>
          <div class="radio-inline">
            <label><input ng-model="formData.card_plantao" type="radio" name="plantao" value="Plantão Sul">Plantão Sul</label>
          </div>
        </div>
        <div class="form-btn col-xs-12">
          <button class="btn btn-success col-md-3">AGENDAR!</button>
        </div>
      </form>
    </div>
  </section>

  <div class="container promotion-container">
    <div class="promotions flex-row">
      <div class="promotion">
        <h3>PROMOÇÃO E VENDAS</h3>
        <div class="promotion-images">
          <img src="assets/images/logo-suacasaseuclube.png" alt="logo">
          <img src="{{madisonData.logo}}" alt="logo">
        </div>
      </div>
      <div class="promotion">
        <h3>CONHEÇA TAMBÉM</h3>
        <div class="promotion-images">
          <a href="{{madisonData.conheca.url}}">
            <img src="{{madisonData.conheca.image}}" alt="logo">
          </a>
        </div>
      </div>
    </div>
    <p>{{madisonData.name}} © 2018 | Lyx Engenharia | ARBO</p>
    <p class="small-text">
      {{madisonData.legal_text}}
    </p>
  </div>

  <footer>
    <div>
      <p>
        2018 Arbo Imóveis. Todos os direitos reservados
      </p>
    </div>
    <div>
      <p>
        Plataforma de atendimento
      </p>
      <img src="/assets/images/arbo_branco.png" alt="">
    </div>
  </footer>

  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-91552221-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-91552221-1');
</script>

<!-- Facebook Pixel Code -->
<script>
  !function (f, b, e, v, n, t, s) {
    if (f.fbq) return; n = f.fbq = function () {
      n.callMethod ?
      n.callMethod.apply(n, arguments) : n.queue.push(arguments)
    };
    if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
    n.queue = []; t = b.createElement(e); t.async = !0;
    t.src = v; s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s)
  }(window, document, 'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1909022179394267');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1909022179394267&ev=PageView&noscript=1" /></noscript>
<!-- End Facebook Pixel Code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="
    https://www.googletagmanager.com/gtag/js?id=UA-91552221-2"> </script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-91552221-2');
</script>

<!-- Hotjar Tracking Code for http://arboimoveis.com/ -->
<script>
  (function (h, o, t, j, a, r) {
    h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
    h._hjSettings = { hjid: 994806, hjsv: 6 };
    a = o.getElementsByTagName('head')[0];
    r = o.createElement('script'); r.async = 1;
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    a.appendChild(r);
  })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>

<!-- <div id="fb-root" class=" fb_reset">
  <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
    <div><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
        allow="encrypted-media" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame"
        tabindex="-1" src="https://staticxx.facebook.com/connect/xd_arbiter/r/30jx6e8KIxc.js?version=42#channel=ffb8eab0bd12f&amp;origin=http%3A%2F%2Flyxengenharia.arboimoveis.com"
        style="border: none;"></iframe></div>
  </div>
  <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
    <div></div>
  </div>
  <div class="fb-customerchat fb_invisible_flow fb_iframe_widget" attribution="setup_tool" page_id="2233179470248210"
    logged_in_greeting="Posso ajudar?" logged_out_greeting="Posso ajudar?" fb-xfbml-state="rendered"
    fb-iframe-plugin-query="app_id=&amp;attribution=setup_tool&amp;container_width=0&amp;locale=pt_BR&amp;logged_in_greeting=Posso%20ajudar%3F&amp;logged_out_greeting=Posso%20ajudar%3F&amp;page_id=2233179470248210&amp;sdk=joey"><span
      style="vertical-align: bottom; width: 1000px; height: 0px;"><iframe name="f3050c3f1b41e8c" width="1000px" height="1000px"
        frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title=""
        src="https://www.facebook.com/v2.12/plugins/customerchat.php?app_id=&amp;attribution=setup_tool&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F30jx6e8KIxc.js%3Fversion%3D42%23cb%3Dfa617d67fd7fb4%26domain%3Dlyxengenharia.arboimoveis.com%26origin%3Dhttp%253A%252F%252Flyxengenharia.arboimoveis.com%252Fffb8eab0bd12f%26relation%3Dparent.parent&amp;container_width=0&amp;locale=pt_BR&amp;logged_in_greeting=Posso%20ajudar%3F&amp;logged_out_greeting=Posso%20ajudar%3F&amp;page_id=2233179470248210&amp;sdk=joey"
        style="border: none; visibility: visible; width: 288pt; height: 378pt; border-radius: 9pt; bottom: 63pt; padding: 0px; position: fixed; right: 9pt; top: auto; z-index: 2147483647; max-height: 0px;"
        class="" data-testid="dialog_iframe"></iframe></span></div>
  <div class="fb_dialog  fb_dialog_advanced fb_customer_chat_bubble_animated_no_badge fb_customer_chat_bubble_pop_in"
    style="background: none; border-radius: 50%; bottom: 18pt; display: inline; height: 45pt; padding: 0px; position: fixed; right: 18pt; top: auto; width: 45pt; z-index: 2147483646;">
    <div class="fb_dialog_content" style="background: none;"><iframe name="blank_f3050c3f1b41e8c" width="60px"
        frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" tabindex="-1"
        data-testid="bubble_iframe" src="https://staticxx.facebook.com/connect/xd_arbiter/r/30jx6e8KIxc.js?version=42#forIframe=f3050c3f1b41e8c"
        style="border: none;"></iframe></div>
  </div>
</div>

<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/pt_BR/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript" src="./js/main-bundle.js"></script>

<iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" id="_hjRemoteVarsFrame" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"
  src="https://vars.hotjar.com/rcj-da10bd4908deb9e19dfde013ec3fe4ff.html"></iframe>

<div id="ads"></div> -->