/* Caminho do font-awesome para build*/
$fa-font-path: '../assets/fonts';

/* Caminho do font-awesome para dev*/
//$fa-font-path: '/bower_components/components-font-awesome/webfonts';

// bower:scss
// Bower Sass dependencies will be imported here after Gulp `styles` task.
// endbower

body {
  font: normal 14px/180% Arial;
  overflow-x: hidden;
}

// inject
// Input styles will be imported here after Gulp `styles` task.
// endinject
