<!DOCTYPE html>
<html ng-app="app">

<head>
    <base href="/">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="robots" content="FOLLOW, INDEX">
	<meta name="description" content="{{ngMeta.description}}">
	<meta name="keywords" content="{{ngMeta.keywords}}">

	<meta property="og:type" content="website">
	<meta property="og:site_name" content="{{ngMeta.title}}">
	<meta property="og:url" content="{{ngMeta['og:url']}}">
	<meta property="image" content="{{ngMeta.image}}">
	<meta property="og:image" content="{{ngMeta.image}}">
	<meta property="og:image:width" content="640">
	<meta property="og:image:height" content="640">
	<meta property="og:title" content="{{ngMeta.title}}">
	<meta property="og:description" content="{{ngMega.description}}">
	<meta property="fb:app_id" content="{{ngMeta.appId}}">

    <title ng-bind="ngMeta.title ? ngMeta.title : 'Lyx Engenharia'"></title>

    <script defer src="https://maps.google.com/maps/api/js?key=AIzaSyDUTz7I0tL-Kajh1ClRLUaWMHm88jabpec&libraries=places"
    type="text/javascript"></script>

    <!-- build:css(src) styles/vendor.css -->
    <!-- bower:css -->
    <!-- Bower dependencies styles will go here after Gulp `inject` task. -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp/serve) styles/app.css -->
    <!-- inject:css -->
    <!-- Output styles will go here after Gulp `inject` task. -->
    <!-- endinject -->
    <!-- endbuild -->

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
</head>

<body>

    <div ui-view=""></div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- Bower dependencies scripts will go here after Gulp `inject` task. -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/partials,.tmp/serve}) scripts/app.js -->

    <!-- inject:js -->
    <!-- Scripts will go here after Gulp `inject` task. -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- Angular templates will be converted to scripts and go here after Gulp `build` task. -->
    <!-- endinject -->

    <!-- endbuild -->
</body>

</html>